---
/*STYLES*/
import '../styles/Alexandrite.css'

/*COMPONETS*/
import Layout from "../layouts/Layout.astro"
import DividerTopBlue from "../components/DividerTopBlue/DividerTopBlue.astro"
import OrganicDivider from "../components/OrganicDivider/OrganicDivider.astro"

/*IMAGES*/
import { Image } from 'astro:assets';
import AlexBGImg from '../assets/AlexShrineBanner.png'
import AlexProfileImg from '../assets/frame-images1.png'
import Gallery1 from '../assets/Alex2-nightshade-intensity-DEFAULT-V1.png'
import Gallery2 from '../assets/Alex3-nightshade-intensity-DEFAULT-V1.png'
import Gallery3 from '../assets/Alex5-nightshade-intensity-DEFAULT-V1.png'
---

<Layout>
	<div class="alex__container">
		<div class="alex__header">
			<Image src={AlexBGImg} alt="" class="header__background" />
		</div>
		<div class="header__text fadeIn-animation">
			<blockquote>           
				<h1 class="alex__title">Alexandrite [ .deus ]</h1>
				<h2 class="alex__subtitle">The sacrificial lamb who decided to replace God</u></h2>
				<p class="content">
					Lorem ipsum dolor sit amet, <i>consectetur adipiscing elit</i>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				</p>
			</blockquote>
		</div>
		<DividerTopBlue />
		<div class="alex__introContainer">
			<div class="alex__introImg">
				<Image src={AlexProfileImg} alt=""/>
			</div>
			<div class="alex__introText">
				<p class="intro__content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
			</div>
			<div class="stats">
			<span class="stats__info">
				<p>25 years-old</p>
			</span>
			<span class="stats__info">
				<p>Saint/Herald</p>
			</span>
			<span class="stats__info">
				<p>Homosexual</p>
			</span>
			<span class="stats__info">
				<p>Single?</p>
			</span>
		</div>
		</div>
		<div class="alex__personality">
			<OrganicDivider />
			<p class="personality_content">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</p>
			<OrganicDivider />
		</div>
		<div class="gallery">
  			<Image src={Gallery1} alt="" class="gallery-image" />
  			<Image src={Gallery2} alt="" class="gallery-image" />
  			<Image src={Gallery3} alt="" class="gallery-image" />
		</div>
	</div>
</Layout>