---
/*STYLES*/
import '../styles/Alexandrite.css'

/*COMPONETS*/
import Layout from "../layouts/Layout.astro"
import DividerTopBlue from "../components/DividerTopBlue/DividerTopBlue.astro"
import OrganicDivider from "../components/OrganicDivider/OrganicDivider.astro"

/*IMAGES*/
import { Image } from 'astro:assets';
import AlexBGImg from '../assets/AlexShrineBanner.png'
import AlexProfileImg from '../assets/frame-images1.png'
import Gallery1 from '../assets/Alex2-nightshade-intensity-DEFAULT-V1.png'
import Gallery2 from '../assets/Alex3-nightshade-intensity-DEFAULT-V1.png'
import Gallery3 from '../assets/Alex5-nightshade-intensity-DEFAULT-V1.png'
---

<Layout>
	<div class="alex__container">
		<div class="alex__header">
			<Image src={AlexBGImg} alt="" class="header__background" />
		</div>
		<div class="header__text fadeIn-animation">
			<blockquote>           
				<h1 class="alex__title">Alexandrite [ .deus ]</h1>
				<h2 class="alex__subtitle">The sacrificial lamb who decided to replace God</u></h2>
				<p class="content">
					His tragedy began with a bet between <i>God and a conniving man</i>, both very interested in ending their boredom. This lamb wasn't chosen, nor was he born to be the hero of this story; he was simply <i>unlucky</i>. And yet, he chose to play to defeat them in their own rules.
				</p>
			</blockquote>
		</div>
		<DividerTopBlue />
		<div class="alex__introContainer">
			<div class="alex__introImg">
				<Image src={AlexProfileImg} alt=""/>
			</div>
			<div class="alex__introText">
				<p class="intro__content">
					Friendly and smiling, known for his calmness and bad habit of doing everything himself. The friendly city florist isn't hard to spot. Although no one really knows about his past before the 'Day of Salvation.' <br><b>Eng Voice: Hyoie O'Grady ( Brant - WuWa) | 
					Spanish Voice: Alberto Bernal (Lio Fotia - Promare / Haruo Sakaki - Godzilla trilogy)</b>
				</p>
			</div>
			<div class="stats">
			<span class="stats__info">
				<p>25 years-old</p>
			</span>
			<span class="stats__info">
				<p>Saint/Herald</p>
			</span>
			<span class="stats__info">
				<p>Homosexual</p>
			</span>
			<span class="stats__info">
				<p>Single?</p>
			</span>
		</div>
		</div>
		<div class="alex__personality">
			<OrganicDivider />
			<p class="personality_content">
				Mostly known as the patient, caring and hardworking florist, he used to be a carefree teen with an easygoing charm. He kept those traits, though with maturity he had reduced the amount of 'theatrically' behavior he used to portray when he was younger (or just show that facet of overconfidence when he needs to). 
				<br><br>
				He's the protective type, the one to take responsabilities but also a good fatherly figure when it comes to take care of his siblings. In contrast you have to <i>gain his trust</i> (which is not easy) to enjoy his good treatment. If not his coldness is sharp as sword; different circumstances have caused him to become distrustful; the trauma he's been exposed to has made him cruel, though he always ends up feeling guilty.
				<br><br>
				Deeply devoted to his family and friends; he used to be boisterous, having a more mature and secure personality, sometimes quite flirtatious, mostly for getting a laughed or two.
			</p>
			<OrganicDivider />
		</div>
		<div class="trivia overlay__trivia">
			<div class="trivia__letter">
				<h2>Trivia</h2>
			</div>
			<div class="trivia__text">
				<p class="trivia__content">
					○ His full name is Alexandrite; he never talked about his last name. He's just 'Alex' for everyone.
				</p>
				<p class="trivia__content">
					○ After the 'Ascension Ceremony' he has been unable to eat proper food, developing disgust for anything that it's not sweet.
				</p>
				<p class="trivia__content">
					○ Favorite flowers: sunflowers.
				</p>
				<p class="trivia__content">
					○ He has two adopted siblings after 'the Day of Salvation'. A 7-year-old girl and a 15-year-old boy.
				</p>
				<p class="trivia__content">
					○ The local musician is in love with him.
				</p>
				<p class="trivia__content">
					○ He hates the color blue.
				</p>
				<p class="trivia__content">
					○ There's a reason behind his 'angelic look.' Thanks to be now a 'herald,' after resigning himself to abandoning his humanity, he can take whatever form that pleaces him. Herald's souls aren't bond to flesh; however, his little sister drew him once as an angel. He chose to honor her wishes. (God, <i>The Prophet</i>, is always amused by this decision.)
				</p>
			</div>
		</div>
		<div class="worldbuilding overlay">
			<div class="world__content">
				<h3 class="world__title">This world is doomed</h3>
				<h3 class="world__subtitle">to <u>endure</u> the boredom of God</h3>
			</div>
			<div class="world__contentLong">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
		<div class="gallery">
  			<Image src={Gallery1} alt="" class="gallery-image" />
  			<Image src={Gallery2} alt="" class="gallery-image" />
  			<Image src={Gallery3} alt="" class="gallery-image" />
		</div>
	</div>
</Layout>