---
/*STYLES*/
import '../styles/Tsukiko.css'

/*COMPONETS*/
import Layout from "../layouts/Layout.astro"
import DividerTopPink from "../components/DividerTopPink/DividerTopPink.astro"
import TsukiFaq from "../components/TsukiFaq/TsukiFaq.astro"

/*IMAGES*/
import { Image } from 'astro:assets';
import TsukikoBGImg from '../assets/TsukikoShrineBanner.png'
import TsukiProfileImg from '../assets/haotsukiko8-2-nightshade-intensity-DEFAULT-V1.png'
import PastTsukiImg from '../assets/shamanoc2-2.png'
import PresentTsukiImg from '../assets/Car_Ride_2025-2.png'
import Gallery1 from '../assets/TeamHoshiGumi-nightshade-intensity-DEFAULT-V1.png'
import Gallery2 from '../assets/shamanoc2-nightshade-intensity-DEFAULT-V1.png'
import Gallery3 from '../assets/Christmas 2024-nightshade-intensity-DEFAULT-V1.png'
---

<Layout title="Tsukiko [ .anima ]"
		description="A wanderer shaman with a nine-tails fox spirit as her companion."
		image='/images/tsukiog.png'>
    <div class="tsukiko__container">
        <div class="tsuki__header">
			<Image src={TsukikoBGImg} alt="" class="header__background" />
		</div>
		<div class="header__text fadeIn-animation">
			<blockquote>           
				<h1 class="tsuki__title">Tsukiko [ .anima ]</h1>
				<h2 class="tsuki__subtitle">Many nights ago, a moon fox met a demon child. Death infested the land, but together, the days smelled of freedom.</u></h2>
				<p class="content">
					Born as a mean to fulfill the ambitions of his father. Tsukiko was offered to the goddess Inari to protect her from a dark path; her fate would be changed thanks to the intervention of Asakura Hao
				</p>
			</blockquote>
		</div>
		<DividerTopPink />
		<div class="flag__Tsuki">
			<p>Hey! Tsukiko is my OC in the world of Shaman King. There's <u>OC X CANON</u> here</p>
		</div>
		<div class="intro__Tsuki">
			<div class="left__column">
				<h2>Tsukiko Saitoh</h2>
				<p>Tsukiko is mostly a chill, easy-going girl with a soft smile on her face most of the time when she's interacting with others; in a nutshell, she goes with the flow.</p>
			</div>
			<div class="center__column">
				<Image src={TsukiProfileImg} alt="" />
				<h3>Voice: Haruka Tomatsu (Morgiana - Magi)</h3>
			</div>
			<div class="right__columns">
				<h3>Hao x Tsukiko </h3>
				<p>Knowing each other since childhood when Tsukiko trained with Daitaro; her relationship with Hao grew strongly thanks to honesty and time together, to the point of promising each other a life together traveling the world.</p>
			</div>
		</div>
		<div class="past overlay">
			<div class="past__content">
				<div class="past__img">
					<Image src={PastTsukiImg} alt="" />
				</div>
				<div class="past__text">
					<h3>Past</h3>
					Tsukiko was born during the Heian era as the youngest daughter of a noble family with strong ties to the goddess Inari; early at her childhood she was send to train to become a Shrine Maiden under onmyōji Tadatomo guidance, meeting Hao and Daitaro in the process.<br><br>
					She found her death following the dark plans of her father after Hao was given his name by the Emperor as the new onmyōji. During her last moments, she made a deal with the goddess Inari: 500 years on hell (as a way to demonstrate her strength and purify her soul due to the path her father had sealed her) to be granted the change to reincarnate as many times needed to accomplish her wish.
				</div>
			</div>
		</div>
		<div class="present overlay">
			<div class="present__content">
				<div class="present__img">
					<Image src={PresentTsukiImg} alt="" />
				</div>
				<div class="present__text">
					<h3>Present</h3>
					In the actual and final cycle of reincarnation, Tsukiko started wandering the world at the early age of 10 years old, protected and guided by her Spirit Ally.<br><br>
					With no clear clues of whom she was looking for, she entered the Shaman Fight with Kalim as her Patch Officiant; she would soon reunite with Hao under curious circumstances, deciding to join his team instead of Opacho, later being trained by him; though, she is not interested in the fight.<br><br>
					At the end of the manga/anime, she chose to stay with Hao inside the Great Spirit.
				</div>
			</div>
		</div>
		<div class="trivia">
			<div class="trivia__letter">
				<h2>Trivia</h2>
			</div>
			<div class="trivia__text">
				<p class="trivia__content">
					○ Favorite food: seafood, dorayaki, strawberries.
				</p>
				<p class="trivia__content">
					○ Favorite season: spring, cherry-blossom season.
				</p>
				<p class="trivia__content">
					○ She doesn't like rainy days and loves sunny days.
				</p>
				<p class="trivia__content">
					○ She loves to sleep under a tree during bright sunny days or while traveling over Akari.
				</p>
				<p class="trivia__content">
					○ She loves speed.
				</p>
				<p class="trivia__content">
					○ The mark on her face represents her bond to Inari.
				</p>
				<p class="trivia__content">
					○ Part of her soul was merged with her spirit ally, allowing her to easily find her. They merged their souls at the end, and she ascended her soul at the same level as an emissary of Inari; though, she's mostly recognized as the Shaman King emissary.
				</p>
				<p class="trivia__content">
					○ Her spirit ally is A white nine-tails fox spirit named Akari. They met during the Heian era, Tsukiko's first life. The small fox was about to die when a 5-year-old Tsukiko decided to stay by her side, wanting her spirit to transcend without fear. The little fox got attached to Tsukiko's kindness, deciding to follow her and help her when her reincarnation cycles started.
				</p>
			</div>
		</div>
		<TsukiFaq />
		<div class="gallery">
  			<Image src={Gallery1} alt="" class="gallery-image" />
  			<Image src={Gallery2} alt="" class="gallery-image" />
  			<Image src={Gallery3} alt="" class="gallery-image" />
		</div>
    </div>
</Layout>