---
const { title, description, image } = Astro.props;
const finalImage = image ?? '/images/opengraph.png';
const ogImageURL = new URL(finalImage, Astro.site).href;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/favicon.png" />
  <meta name="generator" content={Astro.generator} />
  <link rel="canonical" href={canonicalURL} />

  <title>{title}</title>
  <meta name="description" content={description} />

  <!-- Open Graph -->
  <meta property="og:type" content="article" />
  <meta property="og:url" content={canonicalURL.href} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={ogImageURL} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={ogImageURL} />
</head>